.selector-for-some-widget {
  box-sizing: content-box;
}
body {
  color: #494f5c!important;  
  background-image: linear-gradient(#fff,#f9f9f9);
}

.card {
  border-radius: 5px;
  border: 1px solid #ededed;
}
nav .shadow-card {
  border-top: none;
}
.text-muted-2 {
  color: #b5b5b5; 
  display: block;
  margin-top: -7px; 
}

a {
  color:#494f5c;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  color:#494f5c;
  opacity: 1;
  text-decoration: underline;
}

@media only screen and (max-width: 576px) {
  .h1-title {
    font-size: 8vw; 
  }
}