.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  color: #494f5c!important;
  background-color: #fff;
}

.card {
  border-radius: 5px;
  border: 1px solid #ededed;
}

.shadow-card {
  border: none;
  /* box-shadow: 0 4px 8px 0 #eee, 0 6px 20px 0 #eee;   */
  -webkit-box-shadow: 0px 1.5px 8px 0.5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1.5px 8px 0.5px rgba(0,0,0,0.1);
  box-shadow: 0px 1.5px 8px 0.5px rgba(0,0,0,0.1);
}

.text-muted-2 {
  /* color: #b5b5b5;  */
  color: #9ca5ad;
}

.label-2 {
  display: block;
  margin-top: -7px;  
}

a {
  color:#494f5c;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  color:#494f5c;
  opacity: 1;
  text-decoration: underline;
}

.bg-img {
  background-image: url(/background.png);  
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: -1;
  position: fixed;
  top: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  transition: opacity .5s;      
}

.h1-title {
  font-weight: 600;
}

.text-success {
  color: #66BB6A!important;
}

.text-danger {
  color: #FF7043!important;
}


.nav-bottom {
  margin-top: 0.5rem;
  letter-spacing: 0.25px;
}

.nav-bottom a {
  position: relative; 
  color: #3b3e48;
}

.nav-bottom span {
  padding: 0 30px;  
}

.nav-bottom svg {
  position: absolute;
}

@media only screen and (max-width: 576px) {
  .h1-title {
    font-size: 8vw; 
  }
}